<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(${title} + ' | Password Reset')">
    <title th:text="${title}">Master API Reset Password</title>
</head>
<body>
<div class="container">
    <h1>Password Reset Success</h1>
    <hr/>
    <p>
        It will send new password to your email
        <th:block th:text="${email}"/>
        .
    </p>
</div>
<th:block th:replace="base :: footer_scripts(${#dates.year(#dates.createNow())}, ~{::script})">
    <script type="text/javascript">
    </script>
</th:block>
</body>
</html>