/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OSX
.DS_Store

# Misc
*.swp
/src/main/resources/application.properties
/src/main/resources/logback-spring.xml
pom.xml.releaseBackup
pom.xml.tag
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/bin/
