<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(${title} + ' | Setup')">
    <title th:text="${title}">Master API Setup</title>
</head>
<body>
<div class="container">
    <h1>Setup application.properties</h1>
    <hr/>
    <form method="post" th:action="@{/setup}">
        <div class="accordion" id="masterApiSetup">
            <div class="card" id="appCard">
                <h5 aria-controls="appInfo" aria-expanded="true" class="card-header" data-target="#appInfo"
                    data-toggle="collapse" type="button">
                    App Info
                </h5>
                <div class="collapse show" id="appInfo">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="appName">App Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="appName" name="appName"
                                       placeholder="Enter Your Application Name" type="text" value="master-api">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="appTimezone">Timezone</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="appTimezone" name="appTimezone"
                                       placeholder="Enter Timezone" type="text" value="Asia/Yangon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="dbCard">
                <h5 aria-controls="dbInfo" aria-expanded="true" class="card-header" data-target="#dbInfo"
                    data-toggle="collapse" type="button">
                    Database Info
                </h5>
                <div class="collapse show" id="dbInfo">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="dbType">JDBC Type</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="dbType" name="dbType" value="mysql">
                                    <option value="mysql">MySQL</option>
                                    <option value="postgresql">PostgreSQL</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="dbName">Database Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="dbName" name="dbName" placeholder="Enter Database Name"
                                       type="text" value="master_api">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="dbUser">Username</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="dbUser" name="dbUser"
                                       placeholder="Enter Database Username" type="text" value="root">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="dbPassword">Password</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="dbPassword" name="dbPassword"
                                       placeholder="Enter Database Password" type="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="dbHost">Host</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="dbHost" name="dbHost" placeholder="Enter Database Host"
                                       type="text" value="localhost">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="dbPort">Port</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="dbPort" name="dbPort"
                                       placeholder="Enter Database Port Number" type="number" value="3306">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="pathCard">
                <h5 aria-controls="pathInfo" aria-expanded="true" class="card-header" data-target="#pathInfo"
                    data-toggle="collapse" type="button">
                    Storage Directories
                </h5>
                <div class="collapse show" id="pathInfo">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="rootPath">Root Directory</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="rootPath" name="rootPath"
                                       placeholder="Enter root directory path."
                                       type="text" value="/var/www/master-api/">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="settingPath">Setting Directory</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="settingPath" name="settingPath"
                                       placeholder="Enter setting directory path."
                                       type="text" value="/var/www/master-api/setting/">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="uploadPath">Upload Directory</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="uploadPath" name="uploadPath"
                                       placeholder="Enter uploaded file storage path." type="text"
                                       value="/var/www/master-api/upload/">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="reportPath">Report Directory</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="reportPath" name="reportPath"
                                       placeholder="Enter report directory path."
                                       type="text" value="/var/www/master-api/report/">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="httpCard">
                <h5 aria-controls="webInfo" aria-expanded="true" class="card-header" data-target="#webInfo"
                    data-toggle="collapse" type="button">
                    Web Server Info
                </h5>
                <div class="collapse" id="webInfo">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="maxFileSize">Max File Size</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="maxFileSize" name="maxFileSize"
                                       placeholder="Enter Max Upload File Size." type="text" value="32MB">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="maxRequestSize">Max Request Size</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="maxRequestSize" name="maxRequestSize"
                                       placeholder="Enter Max Request Size." type="text" value="50MB">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="sessionTimeout">Session Timeout</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="sessionTimeout" name="sessionTimeout"
                                       placeholder="Enter Session Timeout." type="text" value="20m">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="mailServer">
                <h5 aria-controls="smtpInfo" aria-expanded="true" class="card-header" data-target="#smtpInfo"
                    data-toggle="collapse" type="button">
                    SMTP Info
                </h5>
                <div class="collapse" id="smtpInfo">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="mailHost">Server</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="mailHost" name="mailHost"
                                       placeholder="Enter Mail Server." type="text" value="smtp.gmail.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="mailPort">Port</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="mailPort" name="mailPort"
                                       placeholder="Enter Mail Server Port." type="text" value="587">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="mailUser">Username</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="mailUser" name="mailUser"
                                       placeholder="Enter Mail Server Username." type="text"
                                       value="example.user@gmail.com">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="mailPassword">Password</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="mailPassword" name="mailPassword"
                                       placeholder="Enter Mail Server Password." type="password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" id="firebaseCard">
                <h5 aria-controls="firebaseInfo" aria-expanded="true" class="card-header" data-target="#firebaseInfo"
                    data-toggle="collapse" type="button">
                    Firebase Info
                </h5>
                <div class="collapse" id="firebaseInfo">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="firebaseProject">Project URL</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="firebaseProject" name="firebaseProject"
                                       placeholder="Enter firebase project URL" type="text" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label" for="firebaseJson">Service JSON</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="firebaseJson" name="firebaseJson"
                                       placeholder="Enter Firebase JSON Path" type="text" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button class="btn btn-block btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="base :: footer_scripts(${#dates.year(#dates.createNow())}, ~{::script})">
    <script type="text/javascript">
        $(document).ready(() => {
            const default_db_port = {
                postgresql: 5432,
                mysql: 4406,
            }
            $("select#dbType").change(e => {
                $("input#dbPort").val(default_db_port[e.target.value]);
            });

            $("input#rootPath").change(e => {
                let root = e.target.value;
                if(!root.endsWith("/")){
                    root += "/";
                }
                $("input#uploadPath").val(root + "upload/");
                $("input#settingPath").val(root + "setting/");
                $("input#reportPath").val(root + "report/");
            });

            $("button#btnEncryptSaltRefresh").click(() => {
                $.get("[[@{/util/salt}]]", (data, status) => {
                    $("input#encryptSalt").val(data.message);
                });
            });

            $("button#btnJwtKeyRefresh").click(() => {
                $.get("[[@{/util/jwtKey}]]", (data, status) => {
                    $("input#jwtKey").val(data.message);
                });
            });

            $("button#btnWebhookToken").click(() => {
                $.get("[[@{/util/generate/32}]]", (data, status) => {
                    $("input#facebookWebhook").val(data.message);
                });
            });
        });



    </script>
</th:block>
</body>
</html>