<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Request</title>
</head>
<body>
<form method="post" name="payment" th:action="${paymentUrl}">
    <input id="MerchantID" name="MerchantID" th:value="${MerchantID}" type="hidden"/>
    <input id="invoiceNo" name="invoiceNo" th:value="${invoiceNo}" type="hidden"/>
    <input id="productDesc" name="productDesc" th:value="${productDesc}" type="hidden"/>
    <input id="amount" name="amount" th:value="${amount}" type="hidden"/>
    <input id="CurrencyCode" name="CurrencyCode" th:value="${CurrencyCode}" type="hidden"/>
    <input id="categoryCode" name="categoryCode" th:value="${categoryCode}" type="hidden"/>
    <input id="userDefined1" name="userDefined1" th:value="${userDefined1}" type="hidden"/>
    <input id="userDefined2" name="userDefined2" th:value="${userDefined2}" type="hidden"/>
    <input id="userDefined3" name="userDefined3" th:value="${userDefined3}" type="hidden"/>
    <input id="FrontendURL" name="FrontendURL" th:value="${FrontendURL}" type="hidden"/>
    <input id="BackendURL" name="BackendURL" th:value="${BackendURL}" type="hidden"/>
    <input id="hashValue" name="hashValue" th:value="${hashValue}" type="hidden"/>
</form>
<script type="text/javascript">
window.onload = function(){
  document.forms['payment'].submit();
}



</script>
</body>
</html>